<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="CustomUI">
      <UIRef Id="WixUI_InstallDir" />

      <DialogRef Id="PoolSettingsDlg" />
      <!-- Injection of custom UI. -->
      <Publish Dialog="LicenseAgreementDlg" Control="Next"
           Event="NewDialog" Value="PoolSettingsDlg"
           Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back"
           Event="NewDialog" Value="PoolSettingsDlg">1</Publish>
    </UI>
	</Fragment>
</Wix>
