<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Binary Id="CustomActions" SourceFile="$(var.QRSharingApp.Installer.CustomAction.TargetDir)$(var.QRSharingApp.Installer.CustomAction.TargetName).CA.dll" />

    <CustomAction
      Id="WindowsCredentialValidation"
      Impersonate="no"
      BinaryKey="CustomActions"
      DllEntry="WindowsCredentialValidation"
      Return="check"/>
		
	<CustomAction 
	  Id="UpdateFirewallRule"
	  Execute="deferred"
	  Impersonate="no"
	  DllEntry="UpdateFirewallRule"
	  BinaryKey="CustomActions"
	  Return="check"
	  HideTarget="no"/>

	<CustomAction
	  Id="InstallDotnetHosting"
    Directory="COMMON_DIR"
    ExeCommand="&quot;[COMMON_DIR]dotnet-hosting-5.0.11-win.exe&quot;"
    Execute="deferred"
    Return="asyncNoWait"
    Impersonate="no"/>

	<CustomAction
	  Id="InstallDotnetRuntime"
    Directory="COMMON_DIR"
    ExeCommand="&quot;[COMMON_DIR]dotnet-runtime-5.0.11-win-x64.exe&quot;"
    Execute="deferred"
    Return="asyncNoWait"
    Impersonate="no"/>
		
	<!-- Use DISM to setup IIS (see also http://support.microsoft.com/kb/2736284) -->
	<!-- Build path to dism.exe (full path is important, just calling dism.exe without path will fail) -->
	<CustomAction Id="InstallIISSetProperty" Property="InstallIIS" Execute="immediate"
					Value="&quot;[System64Folder]dism.exe&quot; /Online /Enable-Feature /All /FeatureName:IIS-StaticContent /FeatureName:IIS-DefaultDocument /FeatureName:IIS-DirectoryBrowsing /FeatureName:IIS-HttpErrors /FeatureName:IIS-HttpRedirect /FeatureName:IIS-HttpLogging /FeatureName:IIS-HttpCompressionStatic /FeatureName:IIS-RequestFiltering /FeatureName:IIS-ManagementConsole" />
		
	<CustomAction Id="InstallIIS" BinaryKey="WixCA" DllEntry="CAQuietExec64"
					Execute="deferred" HideTarget="no" Return="ignore" Impersonate="no"/>

	</Fragment>
</Wix>
