@model DownloadDataViewModel

<div class="card text-center">
    <div class="card-header">
        Download file: @Model.Name
    </div>
    <div class="card-body">
        <div style="position: relative;">
            <form class="was-validated card-body" onsubmit="OnDownloadFormSubmit(event)" method="post">
                @Html.HiddenFor(_ => _.Id)
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone number</label>
                    <input id="phone" name="phone" type="tel" class="form-control" placeholder="0981234567" pattern="[0-9]{10}" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Download file</button>
                </div>
            </form>
        </div>
    </div>
</div>

<a id="download-file-link" class="btn btn-primary"
   href="@Model.PhysicalFileAdress" download="@Model.Name" style="display:none">
    Download
</a>

<script type="text/JavaScript">
    function OnDownloadFormSubmit(e) {
        document.getElementById('download-file-link').click();
    }
</script>