<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="QR Sharing App" Version="1.0.0.0" Manufacturer="Spinner 360" UpgradeCode="2427d1ab-535c-4548-8493-f91a9ce186bd" >
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
          <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" LicenseFile="License.rtf" LogoFile="icon.jpg"/>
        </BootstrapperApplicationRef>
    
		<Chain>
            <MsiPackage Id='MsiInstaller'
                        Compressed='yes'
                        DisplayInternalUI='no'
                        SourceFile='$(var.SolutionDir)Installer\QRSharingApp.Installer\bin\x64\Release\QRSharingApp.Installer.msi'/>
            <ExePackage Id='DotnetRuntime'
	         			Compressed='yes'
                        After='MsiInstaller'
	         			SourceFile='$(var.SolutionDir)Installer\Runtime\dotnet-runtime-5.0.11-win-x64.exe'
	         			PerMachine='yes'
                        InstallCommand='/passive'/>
            <ExePackage Id='WindowsdesktopRuntime'
	         			Compressed='yes'
                        After='DotnetRuntime'
	         			SourceFile='$(var.SolutionDir)Installer\Runtime\windowsdesktop-runtime-6.0.6-win-x64.exe'
	         			PerMachine='yes'
                        InstallCommand='/passive'/>
            <ExePackage Id='DotnetHostingRuntime'
	         			Compressed='yes'
                        After='WindowsdesktopRuntime'
	         			SourceFile='$(var.SolutionDir)Installer\Runtime\dotnet-hosting-5.0.11-win.exe'
	         			PerMachine='yes'
                        InstallCommand='/passive'/>
		</Chain>
	</Bundle>
</Wix>
