@model QRSharingApp.ActivationWebApp.Models.EditActivationKeyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit activation key</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(_ => _.Id)
            @Html.HiddenFor(_ => _.Key)
            @Html.HiddenFor(_ => _.ProgramToolId)
            <div class="form-group">
                <label asp-for="ExpireAfter" class="control-label"></label>
                <input asp-for="ExpireAfter" class="form-control" />
                <span asp-validation-for="ExpireAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-action="Index" asp-route-programToolId="@Model.ProgramToolId">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
